 <div class="createUser">
     <form  id="formCreate">
         <div class="user" id="userA"><input type="text" placeholder="Player 1" name="user1"></div>
        <div class="user" id="userB"><input type="text" placeholder="Player 2" name="user2"></div>
        <div class="user" id="userC"><input type="text" placeholder="Player 3" name="user3"></div>
        <div class="user" id="userD"><input type="text" placeholder="Player 4" name="user4"></div>
        {{!-- <button type="button" value="CREATE NEW GAME" id="createButton"> --}}
        <button class="btn btn-primary" type="submit " id="createButton">CREATE NEW GAME</button>
     </form>
        
</div>
      